<!-- Start Footer -->
<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="footer-company-name">Tüm Hakları Yazılım 303 Öğle Grubu Öğrencilerine aittir.' &copy; 2022 <a href="/Home/Index">MHRS 303</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
