@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccountMHRS.cshtml";
}
@if (TempData["PatientEmailConfirmedMessage"]!=null)
{
    <div>
        <h4 class="text-success">@TempData["PatientEmailConfirmedMessage"]</h4>
    </div>
}
<div class="row">
    <div class="col-6">
        <div style="text-align:center">
            <img src="~/health-theme-assets/images/MHRS103_yan.png"
                 style="width:350px" />
        </div>
        <h1 style="font-weight:bold;">Giriş Yap</h1>
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px">
                    *
                </span>
                <label asp-for="IdentificationNumber" class="control-label"></label>
                <input asp-for="IdentificationNumber" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px">
                    *
                </span>
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="RememberMe" /> Beni Hatırla
                <a style="float:right" class="btn btn-link btn-info" asp-action="ResetPassword">Şifremi unuttum</a>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Giriş Yap" class="btn btn-default btn-block" style="background-color:#46B3AE; color:white;"/>
                <a type="button" class="btn btn-default btn-block" style="background-color:red; color:white;" href="/Account/Register">Kayıt Ol</a>
            </div>
        </form>
    </div>
    <div class="col-6">
        <img src="~/health-theme-assets/images/gallery-01.jpg"
             style="max-width:100%; height:auto; position:fixed" />
    </div>
</div>
