@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutMHRS.cshtml";
}
@if (ViewBag.ResetPasswordErrorMessage != null)
{
    <div>
        <h4 class="text-danger">@ViewBag.ResetPasswordErrorMessage</h4>
    </div>
}
@if (ViewBag.ResetPasswordMessage != null)
{
    <div>
        <h4 class="text-success">@ViewBag.ResetPasswordMessage</h4>
    </div>
}

<div class="row">
    <div class="col-6 offset-3 offset-3">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div class="form-group" style="margin-top:85px">
                <label class="control-label"
                       style="font-weight:bold,">
                    Email Adresiniz
                </label>
                <input name="email" type="email" class="form-control" />
            </div>

            <input type="submit"
                   value="Yeni Şifre Talebi Gönder"
                   class="btn btn-default btn-block"
                   style="background-color:#46b3AE; color:white;" />
        </form>
    </div>
</div>

